.navigation {
  margin: $gutter auto 0;
  border-radius: 6px;
  max-width: $content-width;
  min-height: $nav-height;
  background: $nav-background;
}

.nav-container {
  z-index: 10;
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  display: block;
  font-family: 'Roboto Slab', serif;
  position: absolute;
  margin: 20px;
  float: left;
  font-size: 1.4em;
  transition: transform 1s ease-out;
  a,
  a:visited {
    color: $text-black;
    text-decoration: none;
  }
  &:hover {
    transform: rotate(1turn);
  }
}

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 0 $gutter;
        line-height: $nav-height;
        height: $nav-height;
        color: $text-black;
        text-decoration: none;
        box-sizing: border-box;
        transition: border 0.1s $losi;
        &:hover { //0-0-5
          border-bottom: 3px solid $main-red;
          color: $text-black;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }
      ul li { // Dropdown list
        min-width: 150px;
        a {
          padding: 0;
          height: 40px;
          line-height: 40px;
          padding-left: $gutter;
          &:hover {
            border-bottom: none;
            border-left: 3px solid $main-red;
          }
        }
      }
    }
    .learn-container {
      width: 150px;
      padding: 0 $gutter 0 10px;
      a {
        height: auto;
        &:hover {
          border-color: $text-black;
        }
      }
      .btn-main {
        display: block;
        margin-top: 19px;
        width: 100%;
      }
    }
  }
}

.nav-dropdown {
  overflow: none;
  z-index: 1;
  box-shadow: 0 1px 10px 0 rgba(#000000, 0.06);
  position: absolute;
  background-color: $nav-background;
  border-radius: 0 0 6px 6px;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (min-width: $breakpoint + 1) {
  .nav-list {
    display: block !important;
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .navigation {
    max-width: 800px;
  }
}

//TODO: separate this media query for each selector and move them close to normal styles
@media only screen and (max-width: $breakpoint) {
  .navigation {
    margin-top: 0;
  }

  .nav-mobile {
    display: block;
  }

  .nav-dropdown {
    position: static;
    box-shadow: none;
  }

  .brand {
    float: none;
  }

  nav {
    float: none;
    width: 100%;
    padding-top: $nav-height;
    ul {
      li {
        display: block;
        float: none;
        position: static;
        a, .btn-main {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
      .learn-container {
        width: 100%;
        padding: 0;
        .btn-main {
          margin: 0;
          border-radius: 0;
          background-color: $main-red;
          border-color: $main-red !important;
          color: $nav-background;
        }
      }
    }
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $text-black;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
