.step > section:not(:last-child) {
	margin-right: $gutter;
}

.step.column > section:not(:last-child) {
	margin-bottom: $gutter;
}

.mobile-horizontal-scroll {
  display: block;
}

.wrap {
	flex-wrap: wrap;
}

.instructions {
  &.red {
    .step-card {
      border-color: $main-red;
      h3 {
        color: $main-red;
        text-transform: uppercase;
      }
    }
  }

  &.blue {
    .step-card {
      border-color: $main-blue;
      h3 {
        color: $main-blue;
        text-transform: uppercase;
      }
    }
  }
}

.instructions-3x3 {
  .img-card {
    .caption {
      background-color: $main-red;
    }
  }
}

.instructions-4x4 {
  .img-card {
    .caption {
      background-color: $main-blue;
    }
  }
}

.step {
  align-items: flex-start;
  display: flex;
  margin-top: $content-margin;
	&.column {
		flex-direction: column;
	}
	&.multi {
		margin-top: 0;
		.step {
			margin-top: 0;
		}
	}
	.small-side {
		max-width: 380px;
	}
  section, .card {
    flex: 1 0; // flex-grow flex-basis
  }
  .img-card {
    flex-grow: 1;
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .step .small-side {
		max-width: 300px;
	}
}

@media only screen and (max-width: $breakpoint) {
	.step {
		flex-direction: column;
		align-items: stretch;
		&.multi {
			.step {
				margin-top: $content-margin;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.step-card, .small-side, section {
			max-width: none;
			width: 100%;
		}
		.step-card {
			margin-bottom: $gutter;
		}
	}

  .mobile-horizontal-scroll {
    overflow-x: scroll;
    display: flex;
    .row {
      margin: auto $gutter $gutter auto;
      .img-card {
        min-width: 200px;
      }
    }
  }

  .instructions-3x3 {
    .step2, .step4 {
      flex-direction: column-reverse;
    }
  }

  .instructions-4x4 {
    .step1, .step3 {
      flex-direction: column-reverse;
    }
  }
}

.link-info {
  display: flex;
  .link-block {
    max-width: 200px;
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: $gutter;
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .link-info {
    flex-direction: column;
    .link-block {
      max-width: none;
      &:not(:last-child) {
        margin-bottom: $gutter;
      }
    }
  }
}
