.step1 {
  display: flex;
  .step-card {
    min-width: 380px;
    flex-basis: 0;
    flex-grow: 2;
  }
  .diagrams-notation {
    flex-basis: 0;
    flex-grow: 3;
    .img-card {
      height: 220px;
    }
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .step1 {
    flex-direction: column;
    .step-card {
      margin-bottom: $gutter;
      min-width: auto;
      width: 100%;
    }
  }
}
