.step {
  display: flex;
  margin-top: $content-margin;
  section {
    flex: 1 0; // flex-grow flex-basis
  }
  .img-card {
    height: 220px;
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .step {
    flex-direction: column;
    .step-card, .img-card {
      max-width: none !important;
      width: 100%;
    }
    .step-card {
      margin-bottom: $gutter;
    }
  }
}

//since the left card is usually 380px wide, we could just have a .left class with this max-width set
.step1 {
  .step-card {
    max-width: 380px;
  }
}


@media only screen and (max-width: $breakpoint) {
  .step1 {
    .diagrams-notation {
      overflow-x: scroll;
      display: flex;
      .row {
        margin: auto $gutter $gutter auto;
        .img-card {
          min-width: 200px;
        }
      }
    }
  }
}

.step2 {
  .img-card {
    max-width: 380px;
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .step2 {
    flex-direction: column-reverse;
    .card {
      margin-right: 0;
    }
  }
}
