.title-big {
  font-size: 20em;
  height: 210px;
	letter-spacing: 0.2em;
  line-height: 130px;
  overflow: hidden;
  margin: 0;
  &.red {
    color: $main-red;
  }
  &.blue {
    color: $main-blue;
  }
}

@media only screen and (max-width: $breakpoint) {
	.title-big {
		font-size: 12em;
		letter-spacing: 0.12em;
		line-height: 80px;
		height: 130px;
	}
}

.article-name {
  text-transform: uppercase;
  color: #292929;
  font-size: 1.4em;
  margin-top: 5px;
}
