.title-big {
  font-size: 20em;
  height: 210px;
  line-height: 130px;
  overflow: hidden;
  margin: 0;
  &.red {
    color: $main-red;
  }
  &.blue {
    color: $main-blue;
  }
}

.article-name {
  text-transform: uppercase;
  color: #292929;
  font-size: 1.4em;
  margin-top: 5px;
}
