//TODO: add variables for all breakpoints

// Breakpoints
$breakpoint: 799px;
$breakpoint-lg: 1000px;

// Dimensions
$content-width: 1000px;
$gutter: 20px;
$nav-height: 70px;
$card-height: 220px;
$card-gutter: 25px;
$text-box-padding: 15px;
$content-margin: 40px;
$card-border-radius: 6px;

// Colors
$text-black: #171717;
$nav-background: #ffffff;
$body-background: #f6f6f6;
$warning-background: #ffd1d1;
$nav-font-color: #1b1b1b;
$link-hover-color: #cce6ff;
$main-red: #ff6363;
$main-blue: #4683ec;
$link-blue: #1d3bff;

// Transitions
$losi: cubic-bezier(0, 0, 0.2, 1); // linear out slow in
